*{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}
body {
    font-family: "Crimson Text", serif;
}
.logo{
    display: flex;
    justify-content: space-between; /* Push left and right items apart */
    align-items: center;
    padding: 10px 120px;
    /*position: fixed;*/
    width: 100%; /* So it stretches full width */ 
    background-color: #f5f5f5;
}
.logo img{
    width: 120px;
    height: auto;
    
}

.buttons{
    gap: 20px;
    display: flex;
    
}

.buttons a {
    text-decoration: none;
    color: #507248;
    font-weight: bold;
    font-size: 19px;
    padding: 10px 20px;
    border: 1px solid #507248 ;
    border: 0;
    border-radius: 20px;
    transition: background-color 0.2s,color 0.5s,transform 0.2s ; /*transform - makes it smoothly zoom in, instead of instantly jumping.*/

}

.buttons a:hover {
    color:white;
    background-color: #507248;
    transform: scale(1.1); /*Slight zoom on hover*/
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    
}
.offer{
    background-color: #507248;
    color: white;
    /*margin-top: 30px;*/
    padding: 8px;
    text-align: center;
    font-size: 18px;  
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.categoriestext{
    text-align: center;
    padding: 60px;
    color: #507248;
    font-size: 40px;
    font-weight: bold;
}
.container{
    max-width: 100%;
    margin:10px;
    overflow: auto;
    
}
.gallery{
    margin:15px;
    border:0px solid #507248;
    float: left;
    width:180px;
    background-color: #507248;
    
}
.gallery img{
    width:180px;
    height:180px;
}
.gallery:hover{
    transform: scale(1.1); /*Slight zoom on hover*/
    color: #f5f5f5;
    box-shadow: 2px 2px 2px #507248;
}
.desc{
    padding:10px;
    text-align: center;
    font-size: 16px;
}
.desc:hover{
    transform: scale(1.1); /*Slight zoom on hover*/   
}
.conclusion{
    text-align: center;
    padding-top:40px ;
}

